body {
  font-family: Arial;
  text-align: center;
}

#rover {
  font-size: 60px;
  margin: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px 15px;
}

#alertBox {
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.safe {
  background-color: green;
}

.danger {
  background-color: red;
}
